div#prokite{
    position: fixed;
    bottom: 0;
    right: 0;
}
div#prokite > ul{
    list-style-type: none;
    display: flex;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid lightgrey;
}

div#prokite > ul > li{ 
    margin: 0!important;
    padding: 5px 10px;
    cursor: pointer;
}

div#prokite li.active{
    background: rgb(220, 0, 0, 0.1);
}

div#prokite > ul > li > img{ 
    width: 30px;
}

div#prokite-popup{
    display: none;
    position: fixed;
    bottom: 60px;
    background: inherit;
    width: 450px;
    height: 300px;
    z-index: 3;
    right: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

div#prokite-popup header{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
}

div#prokite-popup div.content{
    padding: 15px 10px;
}

